html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  color: #5f5f5f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mt5 {
  margin-top: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.pd8 {
  padding: 8px;
}

.pd12 {
  padding: 12px;
}

.bg-eed2ee-bfefff {
  background: -webkit-gradient(linear,
    left 0,
    right 0,
    from(#eed2ee),
    to(#bfefff));
}

.bg-f0fff0-00e5ee {
  background: -webkit-gradient(linear,
    left 0,
    right 0,
    from(#f0fff0),
    to(#00e5ee));
}

.el-slider__runway {
  margin: 10px 0;
}

.icon-edit-poem,
.icon-delete-poem,
.icon-left-arrow,
.icon-right-arrow,
.icon-github,
.icon-education,
.icon-project-exp,
.icon-award,
.icon-skill,
.icon-error {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}

.icon-edit-poem {
  height: 16px;
  width: 16px;
  background: url('../imgs/icon/edit-icon.png') no-repeat center center / cover;
}

.icon-delete-poem {
  height: 16px;
  width: 16px;
  background: url('../imgs/icon/delete-icon.png') no-repeat center center / cover;
}

.icon-left-arrow,
.icon-right-arrow {
  height: 24px;
  width: 24px;
}

.icon-left-arrow {
  background: url('../imgs/icon/left-arrow-icon.png') no-repeat center center / cover;
}

.icon-right-arrow {
  background: url('../imgs/icon/right-arrow-icon.png') no-repeat center center / cover;
}

.icon-github {
  height: 21px;
  width: 21px;
  background: url('../imgs/icon/github.png') no-repeat center center / cover;
}

.icon-education,
.icon-project-exp,
.icon-award,
.icon-skill {
  height: 22px;
  width: 22px;
}

.icon-education {
  background: url('../imgs/icon/education.png') no-repeat center center / cover;
}

.icon-project-exp {
  background: url('../imgs/icon/project-exp.png') no-repeat center center / cover;
}

.icon-award {
  background: url('../imgs/icon/award.png') no-repeat center center / cover;
}

.icon-skill {
  background: url('../imgs/icon/skill2.png') no-repeat center center / cover;
}

.icon-error {
  height: 16px;
  width: 16px;
}

.icon-error {
  background: url('../imgs/icon/error.png') no-repeat center center / cover;
}

.icon-interest {
  width: 19px;
  height: 19px;
  background: url('../imgs/icon/interest.png') no-repeat center center / cover;
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;
}

div::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
  display: none;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  display: none;
}

div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #D3D3D3;
  border-radius: 4px;
}